# ==========================================
# Build and Release (Maven)
# ==========================================
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ==========================================
# IDEs & Editors
# ==========================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ==========================================
# Operating System Files
# ==========================================
# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ==========================================
# Logs and Databases
# ==========================================
*.log
logs/
*.sqlite
*.db

# ==========================================
# Environment Variables & Secrets
# ==========================================
*.env
*.env.local
.env
.env.local
.env.*.local
!.env.example
application-secret.properties
application-secret.yml